@media (max-width: 768px) {
    .desktop-view {
        display: none !important;
    }

    .mobile-view {
        display: block !important;
    }
}

@media (min-width: 769px) {
    .desktop-view {
        display: block !important;
    }

    .mobile-view {
        display: none !important;
    }
}
